<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order</title>
  </head>
  <body>
    <p>Hi,</p>
    <p>New order was created:</p>

    <p>Order Code: <b>$order_code</b></p>
    <p>Order Description: <b>$order_description</b></p>
    <p>Customer: <b>$customer_name</b></p>
    <p>Created at: <b>$order_created_at</b></p>

    <div>$order_items</div>

    <p>Total Price: <b>$order_total_price</b></p>
  </body>
</html>
